.Autocomplete--wrapper {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: flex-start;
  margin: 0;
  margin-bottom: var(--regular-spacing);
  min-height: 42px;
  font-family: var(--regular-block-padding);
  padding: calc(var(--regular-spacing) / 2) 0;
  position: relative;
  text-align: left;
  transition: var(--regular-transition);
  will-change: contents;
}

.Autocomplete--wrapper-outline {
  border: var(--regular-border);
}

.Autocomplete--label {
  color: var(--primary-color);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: var(--regular-spacing);
  text-transform: uppercase;
}

.Autocomplete--wrapper
> div
> input {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  flex: 1;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}

.Autocomplete--wrapper
> div
.menu {
  background-color: var(--background-color);
  border: var(--regular-border);
  border-radius: 2px;
  box-shadow: var(--regular-shadow);
  margin-bottom: calc(var(--regular-spacing) * 2);
  position: absolute;
  width: 100%;
  z-index: 15;
}

.Autocomplete--wrapper
> div
.menu
> * {
  color: var(--primary-color);
  padding: var(--regular-spacing);
}

.Autocomplete--clearAble {
  cursor: pointer;
  position: absolute;
  right: var(--regular-spacing);
  top: calc(50% - 7px);
  transform: rotate(45deg);
  width: 14px;
}
