.MenuItem--wrapper {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: var(--font-family);
  outline: none;
  font-family: var(--regular-block-padding);
  text-transform: uppercase;
  transition: var(--regular-transition);
  width: calc(100% - calc(var(--regular-spacing) * 2));
  will-change: contents;
}

button.MenuItem--wrapper.MenuItem--wrapper-disabled {
  cursor: not-allowed;
}
button.MenuItem--wrapper.MenuItem--wrapper-disabled > * {
  opacity: .6;
}

.MenuItem--icon {
  filter: var(--icon-color);
  margin-right: 16px;
  width: 21px;
}

.MenuItem--text {
  color: var(--primary-color);
  overflow: hidden;
  width: calc(100% - calc(var(--regular-spacing) + 21px));
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
