.MenuItem--wrapper {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: Montserrat, sans-serif;
  outline: none;
  padding: 4px 8px;
  text-transform: uppercase;
  width: 100%;
}

button.MenuItem--wrapper.MenuItem--wrapper-disabled {
  cursor: not-allowed;
}
button.MenuItem--wrapper.MenuItem--wrapper-disabled > * {
  opacity: .6;
}

.MenuItem--icon {
  margin-right: 8px;
  width: 21px;
}

.MenuItem--text {
  overflow: hidden;
  width: calc(100% - calc(8px + 21px));
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
