.Input--wrapper {
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  font-family: Montserrat;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 8px;
  min-height: 42px;
  position: relative;
  text-align: left;
}

.Input--wrapper-outline {
  border: 1px solid rgba(0, 0, 0, 1);
}

.Input--label {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.Input--text {
  background-color: transparent;
  border: none;
  flex: 1;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  outline: none;
  text-transform: uppercase;
}

.Input--clearAble {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: calc(50% - 7px);
  transform: rotate(45deg);
  width: 14px;
}
