.Button--wrapper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  min-width: 80px;
  height: 40px;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
}

a.Button--wrapper {
  height: 24px;
}

.Button--wrapper-outline {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 2px;
}

.Button--wrapper-block {
  min-width: 300px;
  width: 100%;
}

.Button--wrapper-disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.Button--icon {
  height: 100%;
}

.Button--wrapper-noBounds {
  width: auto;
  min-width: 0;
}

.Button--wrapper-disabled
.Button--icon {
  background-color: transparent;
  opacity: .6;
}
