.ImgRound--wrapper,
.ImgRound--input {
  border-radius: 100%;
}

.ImgRound--wrapper {
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 10px -4px rgba(0, 0, 0, 1);
  cursor: pointer;
  height: 250px;
  margin: 0;
  margin-bottom: 8px;
  width: 250px;
}

.ImgRound--wrapper.ImgRound--wrapper-disabled {
  cursor: not-allowed;
}

.ImgRound--wrapper.ImgRound--wrapper-icon {
  height: 40px;
  width: 40px;
}

.ImgRound--input {
  /**/
}
