.ImgRound--wrapper,
.ImgRound--input {
  border-radius: 100%;
}

.ImgRound--wrapper {
  background-color: var(--background-color-opaque);
  background-position: center;
  background-size: cover;
  box-shadow: var(--regular-shadow);
  cursor: pointer;
  height: 250px;
  margin: 0;
  margin-bottom: var(--regular-spacing);
  width: 250px;
}

.ImgRound--wrapper.ImgRound--wrapper-disabled {
  cursor: not-allowed;
}

.ImgRound--wrapper.ImgRound--wrapper-icon {
  height: 40px;
  width: 40px;
}

.ImgRound--input {
  /**/
}
