.TextArea--wrapper {
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  font-family: Montserrat;
  justify-content: flex-start;
  text-align: left;
}

.TextArea--wrapper-outline {
  border: 1px solid rgba(0, 0, 0, 1);
}

.TextArea--label {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.TextArea--text {
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  outline: none;
}
