.TextArea--wrapper {
  background-color: var(--background-color);
  display: flex;
  font-family: var(--regular-block-padding);
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: flex-start;
  padding: calc(var(--regular-spacing) / 2) var(--regular-spacing);
  text-align: left;
  transition: var(--regular-transition);
  will-change: contents;
}

.TextArea--wrapper-outline {
  border: var(--regular-border);
}

.TextArea--label {
  color: var(--primary-color);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: var(--regular-spacing);
  text-transform: uppercase;
}

.TextArea--text {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  outline: none;
}
