.Signature--wrapper {
  background-color: var(--background-color);
  display: flex;
  font-family: var(--regular-block-padding);
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: flex-start;
  margin: 0;
  margin-bottom: var(--regular-spacing);
  min-height: 42px;
  padding: calc(var(--regular-spacing) / 2) var(--regular-spacing);
  position: relative;
  text-align: left;
  transition: var(--regular-transition);
  will-change: contents;
}

.Signature--wrapper-outline {
  border: var(--regular-border);
}

.Modal--wrapper.Modal--wrapper-visible
.Signature--modalControl {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.Signature--modalControl
.Button--wrapper {
  color: rgba(255, 255, 255, 1);
}

.Signature--signatureWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.Signature--signatureWrapper
> img {
  width: 100%;
  filter: var(--icon-color);
}

.Signature--empty {
  color: var(--primary-color);
  display: block;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.Signature--label {
  color: var(--primary-color);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: var(--regular-spacing);
  text-transform: uppercase;
}
