.Signature--wrapper {
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  font-family: Montserrat;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 8px;
  min-height: 42px;
  position: relative;
  text-align: left;
}

.Signature--wrapper-outline {
  border: 1px solid rgba(0, 0, 0, 1);
}

.Modal--wrapper.Modal--wrapper-visible
.Signature--modalControl {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.Signature--modalControl
.Button--wrapper {
  color: rgba(255, 255, 255, 1);
}

.Signature--signatureWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.Signature--empty {
  color: rgba(0, 0, 0, .8);
  display: block;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.Signature--label {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}
