.TextTitle--wrapper {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--regular-spacing);
  padding: 0 var(--regular-spacing);
  text-align: left;
  text-transform: uppercase;
}

.TextTitle--wrapper-invert {
  color: rgba(255, 255, 255, 1);
}

.TextTitle--wrapper.TextTitle--wrapper-subtitle {
  color: var(--secondary-color);
}

.TextTitle--wrapper.TextTitle--wrapper-subtitle,
.TextTitle--wrapper.TextTitle--wrapper-note {
  color: #B4B4B4;
}
.TextTitle--wrapper.TextTitle--wrapper-subtitle,
.TextTitle--wrapper.TextTitle--wrapper-note {
  font-weight: 400;
}
